// Override this file to add your own SCSS styling.

$navbar-bg-color: #23232d;
$navbar-height: 120px;
$text-primary-color: #212121;



body, html {
  font-family: "calisto_ft";
  color: $text-primary-color;
}

body {
  margin-top: $navbar-height;
}

@media (min-width: 992px) {
  .container, .container-xl {
    max-width: 1600px;
  }
}


h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  color: $text-primary-color;
}

.navbar {
  height: $navbar-height;
  background: $navbar-bg-color;
  color: white;
  .dropdown-item {
    color: #000 !important;
  }

  .nav-item {

    background-image: url(../images/design/xy.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 12rem;
    text-align: center;
    height: 5.5rem;
    border: 0px solid;

  }

  .dropdown-item {
    font-size: 1.5rem;
  }

}
#navbar-main .main-menu-item ul li .nav-link {
  font-size: 1.5rem;
  margin-top: 1rem;
  //color: #ffffffb3;
}
.navbar-brand {
  img {
    max-height: 3rem;
  }
}



.common-block-content {
  font-size: 1.8rem;
  text-align: justify;
  text-indent: 2em;
}
.page_nmu_home {
  .index-bg {
    background-image: url(../images/design/mountain.png);
    background-position: bottom;
    background-size: 104% 100%;
    background-repeat: no-repeat;
    padding: 0rem 0 5rem 0;

    .home-video {
      margin-top: 2rem;
    }
    .content-row {
      padding: 8rem 0 0 0;

      h2 {
        font-size: 3.15rem;
        font-weight: 700;
      }
      .common-block-content {
        h3{
          text-align: center;
          font-size: inherit;
          padding-bottom: 1rem;
        }
      }
    }

    .section-contact {
      margin-top: 12rem;
    }
  }



}


.scroll_at_top .back_top {
  opacity: 0;
}
.back_top {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  cursor: pointer;
  z-index: 90;
  transition: all 0.3s;
  opacity: 1;
  img {
    width: 4rem;
  }
}
.page-footer {
  display: none;
}



// 手机
@media (max-width: 780px) {
  .navbar-brand img {
    max-height: 2.2rem;
  }
}
