// Override this file to add your own SCSS styling.

$navbar-bg-color: #23232d;
$navbar-height: 120px;
$text-primary-color: #212121;



body, html {
  font-family: "calisto_ft";
  color: $text-primary-color;
}

body {
  margin-top: $navbar-height;
}

@media (min-width: 992px) {
  .container, .container-xl {
    max-width: 1600px;
  }
}


h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  color: $text-primary-color;
}

.navbar {
  height: $navbar-height;
  background: $navbar-bg-color;
  color: white;
  .dropdown-item {
    color: #000 !important;
  }

  .nav-item {

    background-image: url(../images/design/xy.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 12rem;
    text-align: center;
    height: 5.5rem;
    border: 0px solid;

  }

  .dropdown-item {
    font-size: 1.5rem;
  }

}
#navbar-main .main-menu-item ul li .nav-link {
  font-size: 1.5rem;
  margin-top: 1rem;
  //color: #ffffffb3;
}
.navbar-brand {
  img {
    max-height: 3rem;
  }
}




.top-image {
  img {
    width: 100%;
  }
}
.common-block-content {
  font-size: 1.8rem;
  text-align: justify;
  text-indent: 2em;
}
.page_nmu_home {
  .index-bg {
    background-image: url(../images/design/mountain.png);
    background-position: bottom;
    background-size: 104% 100%;
    background-repeat: no-repeat;
    padding: 0rem 0 5rem 0;

    .home-video {
      margin-top: 2rem;
    }
    .content-row {
      padding: 8rem 0 0 0;

      h2 {
        font-size: 3.15rem;
        font-weight: 700;
      }
      .common-block-content {
        h3{
          text-align: center;
          font-size: inherit;
          padding-bottom: 1rem;
        }
      }
    }

    .section-contact {
      margin-top: 12rem;
    }
  }



}

.project-page-wrap {
  .main-bg {
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}



.page-team-members {
  .group-image {
    padding: 6rem 0 2rem 0;
    img {
      max-height: 10rem;
    }
  }
  .member-image-item {
    position: relative;
    margin-bottom: 1.5rem;
    .img-desc-show {
      opacity: 0;
      transform: rotateY(-180deg);
      transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition-duration: .5s;
      transition-property: transform, opacity;


      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;

      padding: 1.25rem;
      background: #9f9f9f;

      text-align: center;

      width: 96%;
      margin: 0 auto;
    }
    .member-name {
      color: #fff;
      font-weight: bold;
      font-size: 3rem;

    }
    .member-desc {
      padding-top: 1.25rem;
      font-size: 1.6rem;
    }
  }

  .member-image-item:hover {
    .img-show {
      transform: rotateY(-180deg);
      opacity: 0;
    }
    .img-desc-show {
      opacity: 1;
      transform: rotateY(0deg);
      overflow-y: auto;
    }
  }
}








.scroll_at_top .back_top {
  opacity: 0;
}
.back_top {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  cursor: pointer;
  z-index: 90;
  transition: all 0.3s;
  opacity: 1;
  img {
    width: 4rem;
    border: 1px solid lightgrey;
  }
}
.page-footer {
  display: none;
}



// 手机
@media (max-width: 780px) {
  .navbar-brand img {
    max-height: 2.2rem;
  }
}
